# .gitignore

# python stuff to be ignored
__pycache__/
*.py[cod]
*$py.class

# jupyter notebooks stuff to be ignored
.ipynb_checkpoints/

# vscode stuff
.vscode/

# CLAUDE
CLAUDE.md
.claude

# API keys - keep private
fred.api
notebooks/fred.api
EIA-API-KEY.txt

# MacOS stuff to be ignored
.DS_Store

# unnecessary detail to be ignored
.sdmxabs_cache/
.readabs_cache/
notebooks/CACHE/**
notebooks/ASX_DAILY_DATA/**
notebooks/CHARTS/**
notebooks/DATA/**
notebooks/documents/**
notebooks/LOGS/**
notebooks/.vscode/**
notebooks/OLD/**
notebooks/ABS-Data/**
notebooks/govt-budget/**
notebooks/MODEL_OUTPUTS/**
LOGS/

